body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right:   
 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.header-content {
    font-family: "Bona Nova SC", serif;
  font-style: italic;
}

.button {
    background-color: goldenrod; /* Исходный цвет */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
.button:hover {
    background-color: greenyellow; /* Цвет при наведении */
  }

  .button ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки равной ширины */
    grid-gap: 10px;
  }
  
  .button ul li {
    padding: 10px;
    background-color: #f2f2f2;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery   
 img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.gallery img:hover {
    transform: scale(1.1);
}